body {
    background-color:  rgb(10, 102, 194);

}

hr {background-color: rgb(10, 102, 194);
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;

}

h1 { 
    color: black;

}

h2 {
    color: lightcyan;
}

h3 {
    color: lightcyan;
}

p {color: lightcyan;

}

th {
    color: lightcyan;
}

li {
    color: lightcyan;

}

td {color: lightcyan;

}

label { color: lightcyan;

}

/* ==================================================SEÇÃO DE CLASSES================================================== */

a.contato1:link {color: yellow;}
a.contato1:hover {color: orange;}

.contato1 {color: yellow;}
.contato1:hover {color: orange}

a.linkedin1:link {color: yellow;}
a.linkedin1:hover {color: orange}

.cabecalho1:hover{background: rgb(10, 102, 194);
    color: white;}

.paragrafo1:hover{background: rgb(10, 102, 194);
    color: yellow;}

/* ==================================================SEÇÃO DE IDs ================================================== */

