/* ==================================================SEÇÃO DE TAGS================================================== */
header {
    background-color: #0959aa;
}

main {
    background-color: #0a66c2;
}

footer {
    background-color: #0b73da;
}

body {
    margin: 0;
    background-color:  #0a66c2;
    text-align: center;
}

hr {background-color: #0a66c2;
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 20px;
    width: 5%;
}

h1 {
    margin-top: 0;
    color: black;
}

h2 {
    margin-top: 0;
    color: lightcyan;
}

h3 {
    color: lightcyan;
}

p {color: lightcyan;
}

th {
    color: lightcyan;
}

li {
    color: lightcyan;
}

td {color: lightcyan;
}

label { color: lightcyan;
}

/* ==================================================SEÇÃO DE CLASSES================================================== */

.titulotabulador1{
    position: relative;
    left: 255%;
}

.tabulador1{
    position: relative;
    left: 230%;
}

.tabulador2{
    position: relative;
    list-style: none;
}

.tabulador3{
    position: relative;
    border: 1px, solid, white;
    left: 35%; 
}

a.contato1:link {color: yellow;}
a.contato1:hover {color: orange;}

.contato1 {color: yellow;}
.contato1:hover {color: orange}

a.linkedin1:link {color: yellow;}
a.linkedin1:hover {color: orange}

.cabecalho1:hover{background: #0a66c2;
    color: white;}

.paragrafo1:hover{background: #0a66c2;
    color: yellow;}

/* ==================================================SEÇÃO DE IDs ================================================== */

